*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }
  
.Header{
  width: 100%;
  background-color: aqua;
  text-align: center;
}
.Header span{
  margin: 30px 40px;
}
.App{
  width: 90vw;
  height: 100%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}
.NavigationMain{
  width: 80%;
  height: 10%;
  margin: 20px;
  background-color:rgb(73, 71, 71);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.NavForm label{
  position: absolute;
  left: -99999px;
}
.NavForm input{
  width: 250px;
  height: 40px;
  font-size: large;
  padding-left: 2px;
  border-radius: 5px;
}
nav{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
nav ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav ul li{
  height: 100%;
  display: inline-block;
  text-decoration: none;
}

nav ul li a{
  text-decoration: none;
  width: 250px;
  height: 100%;
  font-size: large;
  padding:33px;
  color: #fff;
}
nav ul li a:hover{
  color: #000;
  background-color: #fff;
  cursor: pointer;
}
.post {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.Home .post a {
  text-decoration: none;
}

.Home .post a, 
.Home .post a:visited {
  color: #000;
}

.post:first-child {
  margin-top: 0;
}

.post:last-child {
  border-bottom: none;
}

.postDate {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.postBody {
  margin: 1rem 0;
}
.newPostForm {
  display: flex;
  flex-direction: column;
}

.newPostForm label {
  margin-top: 1rem;
}

.newPostForm input[type='text'], 
.newPostForm textarea {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

.newPostForm textarea {
  height: 100px;
}

.newPostForm button {
  margin-top: 1rem;
  height: 48px;
  min-width: 48px;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.Missing p, .PostPage p, .NewPost p {
  margin-top: 1rem;
}
.Footer{
  height: 100vh;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100vw;
}
.Footer h1{
  width: 90vw;
  background-color: aqua;
  text-align: center;
  border: 0 1px solid #000;
}
.PostPage button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.deleteButton {
  background-color: red;
}

.editPostForm {
  display: flex;
  flex-direction: column;
}

.editPostForm label {
  margin-top: 1rem;
}

.editPostForm input[type='text'], 
.editPostForm textarea {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

.editPostForm textarea {
  height: 100px;
}

.editPostForm button {
  margin-top: 1rem;
  height: 48px;
  min-width: 48px;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}